
/* ===================================================
   Apppick Layout Stylesheet

   TOC:
    01. General & Global Styles
    02. Section Common Styles
    03. Preloader Styles
    04. Header Styles
    05. Banner Styles
    06. Welcome / Features Styles
    07. Why-This-App Styles
    08. Awesome-Feature Styles
    09. App-Brief Styles
    10. Statistics Styles
    11. Screenshot Styles
    12. Video Styles
    13. Testimonial Styles
    14. Pricing-Table Styles
    15. Offer Styles
    16. Download Styles
    17. Team Styles
    18. Blog Styles
    19. News-Letter Styles
    20. Twitter Styles
    21. Map Styles
    22. Contact Styles
    23. Footer Styles
    24. Some Helper Styles

====================================================== */






/* ====================================================
   Pricing-Table Styles
=======================================================*/

#packages {
    border-top: 4px solid #02BDB1;
}

.pricing-table {
    position: relative;
    background-color: #fff;
}

.pricing-table.section-space,
.pricing-table .section-space {
    padding-bottom: 90px;
}

.single-pricing-table {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.2);
}

.pricing-table-style-one {
    background-image: url('https://www.nodedragon.com/pattern_white_subtle.jpg');
}
.pricing-table-style-one.bg-brand {
    background-color: #1d6574;
    background-image: url('https://www.nodedragon.com/pattern_green.jpg');
}

.pricing-table-style-one .pricing-container > * {
    padding: 0px 40px;
    position: relative;
}

.pricing-table-style-one .pricing-container .p-t-header {
    padding-top: 60px;
    margin-bottom: 30px;
}


.pricing-table-style-one .th-btn-parent {
    color: #fff;
}


.pricing-table-style-one .pricing-container .p-t-header .pricing-title {
    font-size: 36px;
    margin: 0px;
    margin-left: -3px;
    font-weight: 300;
}

.pricing-table-style-one .best-tag {
    width: 60px;
    height: 57px;
    background-color: #fff;
    text-align: center;
    padding: 15px 5px;
    line-height: 16px;
    font-size: 14px;
    position: absolute;
    top: -2px;
    right: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.pricing-table-style-one .pricing-container .p-t-body {
    margin-bottom: 40px;
}

.pricing-table-style-one .pricing-container .p-t-body ul {
    margin: 0px;
    padding: 0px;
}

.pricing-table-style-one .pricing-container .p-t-body ul li {
    list-style: none;
    margin-bottom: 22px;
    color: #999;
}

.pricing-table-style-one .pricing-container .p-t-body ul li.not-include {
    text-decoration: line-through;
}

.pricing-table-style-one .pricing-container .p-t-footer {
    padding-bottom: 40px;
}

.pricing-table-style-one .pricing-container .p-t-footer .price {
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
}

.pricing-table-style-one .pricing-container .p-t-footer .price .currency {
    font-size: 25px;
    line-height: 1;
    display: inline-block;
    font-weight: 400;
    margin-right: 3px;
}
.pricing-table-style-one .pricing-container .p-t-footer .price .month {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    font-weight: 400;
    margin-right: 3px;
}
.pricing-table-style-one .pricing-container .p-t-footer .price span {
    vertical-align: middle;
}

.pricing-table-style-one .pricing-container .p-t-footer .button {
    margin-top:24px;
}

.pricing-table-style-one.best {
    color: #fff;
}
.pricing-table-style-one.best .th-btn {
    background-color: #fff !important;
}

.pricing-table-style-one.best .pricing-container .p-t-body ul li {
    color: #fff;
}




/*
 * COLORS
 */

.th-btn-default:focus,
.th-btn-default:active,
.th-btn-default:hover,
.owl-theme .owl-controls .owl-pagination .owl-page.active span,
.tes-thumb-ctrl-lists li a .tes-thumb-overlay,
.download-buttons a:hover,
.thumb-slides-controller a,
.main-footer .footer-social li a:hover,
.item-info-wrap,
.blog-pagination .pagination li.active a,
.blog-pagination .pagination li.active a:hover,
.tagcloud a:hover,
.overlay-brand,
.single-pricing-table .th-btn,
.contact .contact-location-toggle-btn,
.cu-form input[type="submit"],
.cu-form input[type="submit"]:focus,
.cu-form input[type="submit"]:active,
.cu-form input[type="submit"]:hover,
.contact-info .contact-info-lists li a:hover span,
.main-footer .footer-social li a:hover,
.btn-plain:hover,
.main-header.mobileBG {
    background-color: #05D794;
}

a,a:hover,
.single-blog-post .blog-post-title-permalink:hover,
.single-blog-post .blog-post-meta a:hover,
.single-blog-post .blog-post-bottom-meta a:hover,
.single-blog-post .blog-post-bottom-meta a.favorite-link.active,
.single-blog-post .blog-post-bottom-meta a.favorite-link:hover,
.twitter-header .twitter-icon,
.twitter-header .twitter-title,
#allTweets .single-tweet .tweet-text a,
#allTweets .single-tweet .tweet-controlls a:hover,
.contact-info .contact-info-lists li a:hover,
.feature-common-style.extend .feature-title,
.team-theme-02 .social li a:hover,
.statistics-02 .number,
.blog-pagination .pagination li a:active,
.blog-pagination .pagination li a:focus,
.blog-pagination .pagination li a:hover,
.single-blog-post-content a,
.com-title a,
.author a,
.lp-content .title a:hover,
.boderd-list li:hover:before,
.boderd-list li:hover a,
.category-list li:hover span,
.slider-arrow:hover,
.header-mobile-screen .bar-area a,
.header-mobile-screen .menu li:hover a,
.header-mobile-screen .menu li:focus a,
.header-mobile-screen .menu li.current a,
.header-big-screen .menu li a:hover,
.header-big-screen .menu li a:focus,
.header-big-screen .menu li a:active,
.header-big-screen .menu li.current a,
.banner .icons a.active,
.banner .icons a:hover,
.feature-style-01 .inner-box i,
.content ul li:before,
.single-testimonial blockquote cite span,
.offer-content .offer-abs-bg .big-font,
.offer-content h2 span,
.offer-content h3 span,
.download-buttons .left-area *,
.th-btn-transparent:focus,
.th-btn-transparent:active,
.th-btn-transparent:hover,
.small-menu .header-big-screen .menu li a:hover,
.small-menu .header-big-screen .menu li.current a,
.s-f-top i,
.app-reasion-lists li a .left-area i,
.statistics-01 .number,
.single-blog-post-meta a.favourite-link.active .top,
.single-blog-post-meta a:hover .top,
.single-testimonial .thumb-icon-area,
.pricing-table-style-one.best .th-btn,
#allTweets .single-tweet .tweet-controlls a i,
.contact-info .contact-info-lists li a span i,
.cu-form .form-message.success,
.mailchimp-form-message.success,
.main-footer .footer-social li a,
.btn-plain,
.comment-meta .comment-reply,
.single-team .info-area-bottom .t-m-designation {
    color: #0000CD;
}

.overlay-one {
    background: rgba(63, 81, 181, 0.8);
}

.overlay-two {
    background-color: rgba(8, 8, 8, .90);
}

.overlay-three {
    background-color: rgba(0, 0, 0, .92);
}

.overlay-four {
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-five {
    background-color: #111;
}

.color-brand {
    color: #000080 !important;
}



