/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 3
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@font-face {
font-family: 'Lato';
src:
    local('Lato'),
    local('Lato'),
    url('https://github.com/roothaxor/help/blob/gh-pages/stylesheets/Lato-Light.ttf');
}
* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px; 
	line-height: 34px;
	 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* BOOTSTRAP MODIFICATIONS */
.navbar-inverse {
	background: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: rgba(255, 255, 255, 0.9);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background-color: transparent;
}

.navbar-brand {
	font-weight: 900;
	color: #2f2f2f;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #666;
}


/* SVG ANIMATION & CONFIGURATION */
svg {
	pointer-events: none;
}

/* Demo 1 */

.demo-drawings figcaption {
	margin: 0 auto 0 auto;
	max-width: 40em;
	width: 95%;
	text-align: center;
}

.demo-drawings figure:first-child figcaption {
	margin-top: 8em;
}

.demo-drawings figcaption h2 {
	font-weight: 300;
	font-size: 3em;
	margin-bottom: 0.2em;
}

.demo-drawings figcaption p {
	font-size: 1.3em;
}

.drawings {
	position: relative;
	max-height: 600px;
}

.illustration {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}

.line-drawing,
.illustration {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.line-drawing path {
	fill: none;
	stroke: black;
	stroke-width: 3;
}

path.line-round {
	stroke-linecap: round;
}

path.stroke-medium {
	stroke-width: 2;
}

path.stroke-thin {
	stroke-width: 1;
}

#main {
	background: #ff6;
	 background-image: url("https://www.nodedragon.com/assets/css/ccc.jpg");
	padding-top: 60px;
}

#main h1 {
	font-size: 3.7em;
	font-weight: 300;
	line-height: 1;
	color: #444;
}

#main h3 {
	font-size: 2em;
	font-weight: 900;
	color: #444;
	line-height: 1;
}

/* White Section */

#ws {
	color: #444;
}

#ws h1 {
	font-size: 3.4em;
	font-weight: 100;
	line-height: 1;
}

#ws h2 {
	font-size: 2.6em;
	font-weight: 300;
	line-height: 1.1;
}

.icn {
	font-size: 60px;
	float: left;
	margin-right: 15px;
}

.icn2 {
	font-size: 60px;
	margin-right: 15px;
}

#ws .price {

	padding-top: 40px;
	padding-bottom: 40px;
	border: 3px solid rgba(146, 146, 146, 0);
	margin-bottom: 20px;
}

#ws .price h1 {
	font-weight: 700;
	font-size: 70px;
}

#ws .price h6 {
	font-size: 16px;
	font-weight: 300;
}

#ws .price p {
	font-size: 22px;
}

#ws .price .btn-trans {
	color: #444;
	background-color: transparent;
	border-color: #444;
	border-width: 2px;
	font-weight: 700;
	font-size: 20px;
}

#ws .price .btn-trans:hover {
	background: #ff6
}

/* Footer Section */

#f {
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #3a3a3a;
	color: #999;
	}

#f input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 0px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 2px solid #e9f0f2;
	margin-bottom: 10px;
	background-color: transparent;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

#f .subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 15px;
}

#f .subscribe-submit {
	right: 0;
}

#f .btn-yellow {
	color: #444;
	background-color: #ff6;
	border-color: #444;
	border-width: 2px;
	font-weight: 700;
	font-size: 20px;
}
